absl_py==2.2.2
dill==0.4.0
einops==0.8.1
h5py==3.13.0
matplotlib==3.10.3
numpy==2.2.6
plotly==6.0.1
psutil==7.0.0
pytest==8.3.5
scipy==1.15.3
seaborn==0.13.2
tensordict==0.7.2
torch==2.6.0
tqdm==4.67.1
xarray==2025.3.1
